@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

@keyframes rainbow_text{
    100%,0%{
      color: rgb(255,0,0);
    }
    8%{
      color: rgb(255,127,0);
    }
    16%{
      color: rgb(255,255,0);
    }
    25%{
      color: rgb(127,255,0);
    }
    33%{
      color: rgb(0,255,0);
    }
    41%{
      color: rgb(0,255,127);
    }
    50%{
      color: rgb(0,255,255);
    }
    58%{
      color: rgb(0,127,255);
    }
    66%{
      color: rgb(0,0,255);
    }
    75%{
      color: rgb(127,0,255);
    }
    83%{
      color: rgb(255,0,255);
    }
    91%{
      color: rgb(255,0,127);
    }
  }


html {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url('background6.jpg')no-repeat;
    background-position: center;
    background-size: cover;
    text-align:center;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    text-align: center;
    color: white;
    animation-name: rainbow_text;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

h2 {
    text-align: center;
    color: white;
    animation-name: rainbow_text;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

h6 {
    text-align: center;
    color: white;
    animation-name: rainbow_text;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

a {
    color: white;
    border: 2px;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
}

a:hover {
    animation-name: rainbow_text;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    text-align:center;
}



p {
  text-align: center;
  color: white;
}